<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>367810761531-s1jiqa17vklcluedc0regv9fvvl69emg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.367810761531-s1jiqa17vklcluedc0regv9fvvl69emg</string>
	<key>API_KEY</key>
	<string>AIzaSyCU91cQ-BoVdqqSTtzi5s1PcSTf3Z5EM9w</string>
	<key>GCM_SENDER_ID</key>
	<string>367810761531</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dinotis.DinotisApp</string>
	<key>PROJECT_ID</key>
	<string>dinotis-2f9cd</string>
	<key>STORAGE_BUCKET</key>
	<string>dinotis-2f9cd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:367810761531:ios:2139d0e70eddc31dd71d1e</string>
	<key>DATABASE_URL</key>
	<string>https://dinotis-2f9cd-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>